In [41]:
import pandas as pd
df_original=pd.read_csv("zomato_dataset.csv")

In [74]:
import warnings
warnings.filterwarnings('ignore')

In [42]:
df=df_original.copy()

In [43]:
df_original.head(10)

,order_id,customer_id,restaurant_name,cuisine,order_datetime,delivery_time_min,order_value,discount_percent,payment_method,rating,delivery_city,delivery_partner,food_items,restaurant_lat,restaurant_long,user_lat,user_long,cancellation_reason,refund_amount
0,15907,4106,SPICE VILLA,Japanese,2025-03-17 00:07:04,delay,NaN,32.08,Card,five,Pune,Deepak,South Thali,16.278062,76.123603,20.916233,76.114562,NaN,NaN
1,51750,4817,burger hub,north indian,2025-08-25 06:06:04,48,NaN,25.79,CASH,five,Bangalore,Fatima,Noodles,17.432143,78.154889,19.472396,76.973517,Rider unavailable,pending
2,52556,9739,Spice Villa,Mexican,2025-03-15 11:54:04,delay,NaN,NaN,Card,five,Pune,Rohan,"Pizza, Coke",26.277299,81.740479,21.984148,87.640194,NaN,NaN
3,52879,2384,Noodle House,north indian,2025-10-22 05:12:04,NaN,NaN,38.62,Wallet,NaN,Bangalore,Kiran,"Pizza, Coke",21.581055,83.779742,16.954463,76.933039,NaN,NaN
4,98872,2864,Tandoori Nights,Chinese,2025-02-17 12:31:04,NaN,723.03,28.72,Wallet,2.1,Hyderabad,Sana,Sushi Set,16.425177,83.973558,18.192788,73.263981,Restaurant busy,237.5
5,24960,6741,Biryani Express,Fast Food,2025-08-29 10:51:04,NaN,NaN,NaN,Card,4.6,Pune,Kiran,South Thali,22.519704,74.703699,16.452225,74.860621,NaN,NaN
6,55125,5526,Veggie Point,north indian,2025-09-25 07:54:04,NaN,NaN,NaN,Wallet,4.4,Mumbai,Kiran,"Pizza, Coke",15.035480,78.017198,16.831279,76.630781,Customer Cancelled,pending
7,37029,4018,Veggie Point,Fast Food,2025-01-06 08:33:04,40,NaN,NaN,Cash,NaN,Hyderabad,Kiran,"Burger, Fries",22.630968,82.062418,20.485093,82.295531,Restaurant busy,pending
8,55223,3598,Biryani Express,South Indian,2025-05-25 23:47:04,NaN,NaN,NaN,CASH,five,Bangalore,Kiran,Sushi Set,28.468157,85.722708,18.753077,83.580183,Restaurant busy,pending
9,84691,7734,Sushi World,north indian,2025-01-29 05:14:04,delay,NaN,NaN,UPI,NaN,Kolkata,Amit,South Thali,21.998837,85.113573,21.301577,75.798131,NaN,NaN

In [44]:
df.head()

,order_id,customer_id,restaurant_name,cuisine,order_datetime,delivery_time_min,order_value,discount_percent,payment_method,rating,delivery_city,delivery_partner,food_items,restaurant_lat,restaurant_long,user_lat,user_long,cancellation_reason,refund_amount
0,15907,4106,SPICE VILLA,Japanese,2025-03-17 00:07:04,delay,NaN,32.08,Card,five,Pune,Deepak,South Thali,16.278062,76.123603,20.916233,76.114562,NaN,NaN
1,51750,4817,burger hub,north indian,2025-08-25 06:06:04,48,NaN,25.79,CASH,five,Bangalore,Fatima,Noodles,17.432143,78.154889,19.472396,76.973517,Rider unavailable,pending
2,52556,9739,Spice Villa,Mexican,2025-03-15 11:54:04,delay,NaN,NaN,Card,five,Pune,Rohan,"Pizza, Coke",26.277299,81.740479,21.984148,87.640194,NaN,NaN
3,52879,2384,Noodle House,north indian,2025-10-22 05:12:04,NaN,NaN,38.62,Wallet,NaN,Bangalore,Kiran,"Pizza, Coke",21.581055,83.779742,16.954463,76.933039,NaN,NaN
4,98872,2864,Tandoori Nights,Chinese,2025-02-17 12:31:04,NaN,723.03,28.72,Wallet,2.1,Hyderabad,Sana,Sushi Set,16.425177,83.973558,18.192788,73.263981,Restaurant busy,237.5

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             1000 non-null   int64
 1   customer_id          1000 non-null   int64
 2   restaurant_name      1000 non-null   object
 3   cuisine              1000 non-null   object
 4   order_datetime       1000 non-null   object
 5   delivery_time_min    663 non-null    object
 6   order_value          333 non-null    float64
 7   discount_percent     357 non-null    float64
 8   payment_method       1000 non-null   object
 9   rating               672 non-null    object
 10  delivery_city        1000 non-null   object
 11  delivery_partner     1000 non-null   object
 12  food_items           1000 non-null   object
 13  restaurant_lat       1000 non-null   float64
 14  restaurant_long      1000 non-null   float64
 15  user_lat             1000 non-null   float64
 16  user_long            1000 non-null   float64
 17  cancellation_reason  750 non-null    object
 18  refund_amount        750 non-null    object
dtypes: float64(6), int64(2), object(11)
memory usage: 148.6+ KB

In [46]:
df.describe(include='all')

,order_id,customer_id,restaurant_name,cuisine,order_datetime,delivery_time_min,order_value,discount_percent,payment_method,rating,delivery_city,delivery_partner,food_items,restaurant_lat,restaurant_long,user_lat,user_long,cancellation_reason,refund_amount
count,1000.000000,1000.000000,1000,1000,1000,663,333.000000,357.000000,1000,672,1000,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,750,750
unique,NaN,NaN,12,9,999,103,NaN,NaN,7,42,6,7,6,NaN,NaN,NaN,NaN,3,249
top,NaN,NaN,Noodle House,South Indian,2025-06-11 00:24:04,delay,NaN,NaN,CASH,five,Pune,Fatima,Biryani,NaN,NaN,NaN,NaN,Customer Cancelled,pending
freq,NaN,NaN,96,125,2,330,NaN,NaN,154,346,175,161,179,NaN,NaN,NaN,NaN,267,256
mean,54934.773000,5430.321000,NaN,NaN,NaN,NaN,985.863574,19.719636,NaN,NaN,NaN,NaN,NaN,20.845250,80.332361,20.858299,80.604023,NaN,NaN
std,25938.121332,2576.002133,NaN,NaN,NaN,NaN,483.264852,11.352189,NaN,NaN,NaN,NaN,NaN,4.570250,4.500256,4.551238,4.469121,NaN,NaN
min,10008.000000,1025.000000,NaN,NaN,NaN,NaN,125.210000,0.220000,NaN,NaN,NaN,NaN,NaN,12.804808,72.805111,12.804144,72.807178,NaN,NaN
25%,32400.000000,3275.500000,NaN,NaN,NaN,NaN,588.130000,9.650000,NaN,NaN,NaN,NaN,NaN,16.836290,76.386568,16.988712,76.812613,NaN,NaN
50%,55174.000000,5331.500000,NaN,NaN,NaN,NaN,958.000000,20.010000,NaN,NaN,NaN,NaN,NaN,20.992346,80.322048,20.940725,80.605933,NaN,NaN
75%,77701.250000,7638.500000,NaN,NaN,NaN,NaN,1420.830000,28.490000,NaN,NaN,NaN,NaN,NaN,24.802801,84.009687,24.721216,84.475641,NaN,NaN
max,99992.000000,9993.000000,NaN,NaN,NaN,NaN,1798.000000,39.930000,NaN,NaN,NaN,NaN,NaN,28.691158,88.280988,28.686025,88.281160,NaN,NaN

In [47]:
df.isnull().sum()

order_id                 0
customer_id              0
restaurant_name          0
cuisine                  0
order_datetime           0
delivery_time_min      337
order_value            667
discount_percent       643
payment_method           0
rating                 328
delivery_city            0
delivery_partner         0
food_items               0
restaurant_lat           0
restaurant_long          0
user_lat                 0
user_long                0
cancellation_reason    250
refund_amount          250
dtype: int64

In [48]:
df['delivery_time_min']=pd.to_numeric(df['delivery_time_min'],errors='coerce')

In [49]:
df.head(20)

,order_id,customer_id,restaurant_name,cuisine,order_datetime,delivery_time_min,order_value,discount_percent,payment_method,rating,delivery_city,delivery_partner,food_items,restaurant_lat,restaurant_long,user_lat,user_long,cancellation_reason,refund_amount
0,15907,4106,SPICE VILLA,Japanese,2025-03-17 00:07:04,NaN,NaN,32.08,Card,five,Pune,Deepak,South Thali,16.278062,76.123603,20.916233,76.114562,NaN,NaN
1,51750,4817,burger hub,north indian,2025-08-25 06:06:04,48.0,NaN,25.79,CASH,five,Bangalore,Fatima,Noodles,17.432143,78.154889,19.472396,76.973517,Rider unavailable,pending
2,52556,9739,Spice Villa,Mexican,2025-03-15 11:54:04,NaN,NaN,NaN,Card,five,Pune,Rohan,"Pizza, Coke",26.277299,81.740479,21.984148,87.640194,NaN,NaN
3,52879,2384,Noodle House,north indian,2025-10-22 05:12:04,NaN,NaN,38.62,Wallet,NaN,Bangalore,Kiran,"Pizza, Coke",21.581055,83.779742,16.954463,76.933039,NaN,NaN
4,98872,2864,Tandoori Nights,Chinese,2025-02-17 12:31:04,NaN,723.03,28.72,Wallet,2.1,Hyderabad,Sana,Sushi Set,16.425177,83.973558,18.192788,73.263981,Restaurant busy,237.5
5,24960,6741,Biryani Express,Fast Food,2025-08-29 10:51:04,NaN,NaN,NaN,Card,4.6,Pune,Kiran,South Thali,22.519704,74.703699,16.452225,74.860621,NaN,NaN
6,55125,5526,Veggie Point,north indian,2025-09-25 07:54:04,NaN,NaN,NaN,Wallet,4.4,Mumbai,Kiran,"Pizza, Coke",15.035480,78.017198,16.831279,76.630781,Customer Cancelled,pending
7,37029,4018,Veggie Point,Fast Food,2025-01-06 08:33:04,40.0,NaN,NaN,Cash,NaN,Hyderabad,Kiran,"Burger, Fries",22.630968,82.062418,20.485093,82.295531,Restaurant busy,pending
8,55223,3598,Biryani Express,South Indian,2025-05-25 23:47:04,NaN,NaN,NaN,CASH,five,Bangalore,Kiran,Sushi Set,28.468157,85.722708,18.753077,83.580183,Restaurant busy,pending
9,84691,7734,Sushi World,north indian,2025-01-29 05:14:04,NaN,NaN,NaN,UPI,NaN,Kolkata,Amit,South Thali,21.998837,85.113573,21.301577,75.798131,NaN,NaN
10,70829,6522,Spice Villa,Mexican,2025-09-05 09:22:04,NaN,NaN,17.10,UPI,3.0,Mumbai,Harsh,Sushi Set,19.505284,74.217286,13.506228,85.580881,Rider unavailable,0
11,13698,2226,Pizza Craft,north indian,2025-08-23 16:56:04,NaN,NaN,NaN,Net Banking,five,Hyderabad,Sana,Biryani,23.493540,81.768180,13.402279,79.736103,Customer Cancelled,419.02
12,40057,2052,Pizza Craft,South Indian,2025-07-17 18:07:04,NaN,685.48,NaN,Net Banking,NaN,Pune,Sana,Biryani,18.346506,87.202361,19.357736,87.192853,Customer Cancelled,0
13,29824,2942,Burger Hub,ITALIAN,2025-06-12 01:37:04,NaN,NaN,13.70,CASH,4.0,Mumbai,Deepak,South Thali,27.829285,79.103352,16.388884,84.531691,Rider unavailable,223.43
14,76598,8049,Burger Hub,north indian,2025-04-01 21:14:04,NaN,NaN,3.96,Net Banking,NaN,Mumbai,Fatima,Noodles,23.955912,86.788578,20.983438,72.995052,Customer Cancelled,pending
15,72663,1671,Sushi World,Chinese,2025-10-09 20:36:04,NaN,NaN,9.71,Net Banking,4.9,Pune,Sana,"Pizza, Coke",23.783381,83.875719,17.232473,80.988471,NaN,NaN
16,41967,4271,Caf Bliss,North Indian,2025-09-08 10:41:04,NaN,NaN,19.51,upi,NaN,Delhi,Deepak,South Thali,23.583252,83.100557,16.190610,87.232550,NaN,NaN
17,11599,5275,Burger Hub,Fast Food,2025-08-01 14:23:04,34.0,1642.90,NaN,CASH,five,Bangalore,Harsh,Sushi Set,23.763013,73.254334,19.589579,73.367192,NaN,NaN
18,13860,5635,Noodle House,Chinese,2025-03-11 03:26:04,NaN,1542.68,NaN,UPI,3.6,Bangalore,Amit,Noodles,19.779013,83.939292,14.372128,80.458049,Restaurant busy,0
19,84050,5795,burger hub,ITALIAN,2025-02-12 22:42:04,NaN,NaN,NaN,Net Banking,NaN,Bangalore,Kiran,South Thali,25.800835,80.678881,26.477271,85.475047,NaN,NaN

In [50]:
df['delivery_time_min']=df['delivery_time_min'].fillna(60.0)

In [75]:
df['order_value'].fillna(df['order_value'].median(),inplace=
                        True)

In [76]:
df['discount_percent'].fillna(0,inplace=True)

In [ ]:
mapping = {'one':1,'two':2,'three':3,'four':4,'five':5}
df['rating'] = df['rating'].str.lower().str.strip()
df['rating'] = df['rating'].replace(mapping)
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')
df['rating'].fillna(0, inplace=True)

In [54]:
df['cancellation_reason']=df['cancellation_reason'].fillna('No cancellation')

In [79]:
df['refund_amount']=pd.to_numeric(df['refund_amount'],errors='coerce')
df['refund_amount'].fillna(0,inplace=True)

In [70]:
df_clean=df.copy()

In [71]:
df_clean.head(20)

,order_id,customer_id,restaurant_name,cuisine,order_datetime,delivery_time_min,order_value,discount_percent,payment_method,rating,delivery_city,delivery_partner,food_items,cancellation_reason,refund_amount,order_date,order_hour,order_day,is_rated
0,15907,4106,Spice Villa,Japanese,2025-03-17 00:07:04,60.0,958.00,32.08,Card,5.0,Pune,Deepak,South Thali,No cancellation,0.00,2025-03-17,0,Monday,True
1,51750,4817,Burger Hub,North Indian,2025-08-25 06:06:04,48.0,958.00,25.79,Cash,5.0,Bangalore,Fatima,Noodles,Rider unavailable,0.00,2025-08-25,6,Monday,True
2,52556,9739,Spice Villa,Mexican,2025-03-15 11:54:04,60.0,958.00,0.00,Card,5.0,Pune,Rohan,"Pizza, Coke",No cancellation,0.00,2025-03-15,11,Saturday,True
3,52879,2384,Noodle House,North Indian,2025-10-22 05:12:04,60.0,958.00,38.62,Wallet,0.0,Bangalore,Kiran,"Pizza, Coke",No cancellation,0.00,2025-10-22,5,Wednesday,False
4,98872,2864,Tandoori Nights,Chinese,2025-02-17 12:31:04,60.0,723.03,28.72,Wallet,2.1,Hyderabad,Sana,Sushi Set,Restaurant busy,237.50,2025-02-17,12,Monday,True
5,24960,6741,Biryani Express,Fast Food,2025-08-29 10:51:04,60.0,958.00,0.00,Card,4.6,Pune,Kiran,South Thali,No cancellation,0.00,2025-08-29,10,Friday,True
6,55125,5526,Veggie Point,North Indian,2025-09-25 07:54:04,60.0,958.00,0.00,Wallet,4.4,Mumbai,Kiran,"Pizza, Coke",Customer Cancelled,0.00,2025-09-25,7,Thursday,True
7,37029,4018,Veggie Point,Fast Food,2025-01-06 08:33:04,40.0,958.00,0.00,Cash,0.0,Hyderabad,Kiran,"Burger, Fries",Restaurant busy,0.00,2025-01-06,8,Monday,False
8,55223,3598,Biryani Express,South Indian,2025-05-25 23:47:04,60.0,958.00,0.00,Cash,5.0,Bangalore,Kiran,Sushi Set,Restaurant busy,0.00,2025-05-25,23,Sunday,True
9,84691,7734,Sushi World,North Indian,2025-01-29 05:14:04,60.0,958.00,0.00,Upi,0.0,Kolkata,Amit,South Thali,No cancellation,0.00,2025-01-29,5,Wednesday,False
10,70829,6522,Spice Villa,Mexican,2025-09-05 09:22:04,60.0,958.00,17.10,Upi,3.0,Mumbai,Harsh,Sushi Set,Rider unavailable,0.00,2025-09-05,9,Friday,True
11,13698,2226,Pizza Craft,North Indian,2025-08-23 16:56:04,60.0,958.00,0.00,Net Banking,5.0,Hyderabad,Sana,Biryani,Customer Cancelled,419.02,2025-08-23,16,Saturday,True
12,40057,2052,Pizza Craft,South Indian,2025-07-17 18:07:04,60.0,685.48,0.00,Net Banking,0.0,Pune,Sana,Biryani,Customer Cancelled,0.00,2025-07-17,18,Thursday,False
13,29824,2942,Burger Hub,Italian,2025-06-12 01:37:04,60.0,958.00,13.70,Cash,4.0,Mumbai,Deepak,South Thali,Rider unavailable,223.43,2025-06-12,1,Thursday,True
14,76598,8049,Burger Hub,North Indian,2025-04-01 21:14:04,60.0,958.00,3.96,Net Banking,0.0,Mumbai,Fatima,Noodles,Customer Cancelled,0.00,2025-04-01,21,Tuesday,False
15,72663,1671,Sushi World,Chinese,2025-10-09 20:36:04,60.0,958.00,9.71,Net Banking,4.9,Pune,Sana,"Pizza, Coke",No cancellation,0.00,2025-10-09,20,Thursday,True
16,41967,4271,Caf Bliss,North Indian,2025-09-08 10:41:04,60.0,958.00,19.51,Upi,0.0,Delhi,Deepak,South Thali,No cancellation,0.00,2025-09-08,10,Monday,False
17,11599,5275,Burger Hub,Fast Food,2025-08-01 14:23:04,34.0,1642.90,0.00,Cash,5.0,Bangalore,Harsh,Sushi Set,No cancellation,0.00,2025-08-01,14,Friday,True
18,13860,5635,Noodle House,Chinese,2025-03-11 03:26:04,60.0,1542.68,0.00,Upi,3.6,Bangalore,Amit,Noodles,Restaurant busy,0.00,2025-03-11,3,Tuesday,True
19,84050,5795,Burger Hub,Italian,2025-02-12 22:42:04,60.0,958.00,0.00,Net Banking,0.0,Bangalore,Kiran,South Thali,No cancellation,0.00,2025-02-12,22,Wednesday,False

In [58]:
df['order_datetime']=pd.to_datetime(df['order_datetime'],errors='coerce')

In [59]:
text_cols = ['restaurant_name','cuisine','payment_method','delivery_city','delivery_partner','food_items']

for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.title()

In [60]:
df.loc[df['rating'] > 5, 'rating'] = 5
df.loc[df['rating'] < 0, 'rating'] = 0

df.loc[df['delivery_time_min'] < 0, 'delivery_time_min'] = 0
df.loc[df['delivery_time_min'] > 240, 'delivery_time_min'] = 240

In [62]:
df['order_date'] = df['order_datetime'].dt.date
df['order_hour'] = df['order_datetime'].dt.hour
df['order_day'] = df['order_datetime'].dt.day_name()

In [63]:
df['is_rated'] = df['rating'] > 0

In [64]:
df.drop_duplicates(inplace=True)

In [69]:
df = df.drop(columns=['user_lat', 'user_long', 'restaurant_lat', 'restaurant_long'])

In [72]:
df_clean.to_csv('clean_dataset.csv',index=False)

In [73]:
from sqlalchemy import create_engine

username = "root"
password = "your_password"   
host = "localhost"
port = 3306
database = "zomato_data"
engine=create_engine(f"mysql+pymysql://root:your_password@localhost:3306/zomato_data")
table_name = "table"
df_clean.to_sql(table_name,engine,if_exists='replace',index=False)

1000